<div>
  <h1>RealTimeProducts:</h1>
  <div id="firstTimeProducts"></div>
  <div id="realTimeProducts"></div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>